*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(61, 234, 182, 0.499);
    display: flex;
    justify-content: center;
    font-family:cursive;
}
.content{
    position: relative;
    height: 75vh;
    width: 50vw;
    background-color: rgb(169, 202, 230);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.07);
}
img{
    width: 40vh;
}
.image{
    display: flex;
    justify-content: center;
    height: 40vh;
    margin-bottom: 5vh;
    /* background-color: red; */
}
.question{
    width: 100%;
    font-size: 2.5vw;
    margin-top: 2vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    color: rgb(217, 47, 112);
    /* font-family:cursive; */
}
.ans{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    gap: 7vw;
    position: relative;
}
button{
    width: 7vw;
    height: 5vh;
    border: 1px solid white;
    border-radius: 12px;
    font-weight: 600; 
    font-size: 1vw;
    /* font-family: cursive; */
}
.yes{
    background-color: rgba(48, 155, 48, 0.944);
    position: absolute;
    color: rgb(250, 247, 246);
    left: 17vw;
}
.yes:hover{
    background-color: rgb(12, 77, 12);
    color: beige;
}
.no{
    background-color: rgb(230, 70, 70);
    position: absolute;
    left: 25vw;
    transition: linear 0.2s;
    color: bisque;
}
.result{
        position: absolute;
        top: 0;
        left: 0;
        width: 50vw;
        height: 75vh;
        display: none;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: rgba(40, 38, 23, 0.95);
        animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
        p{
            /* background-color: aqua; */
            font-size: 3vw;
            font-weight: 600;
            color: aliceblue;
            /* text-align: center; */
            /* width: 100%; */
        }
}
@keyframes pop-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    80% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }